<div class="col-sm-3">
    <div class="well">
      <!-- <div style="padding-right: 5%; float: right;">
      </div> -->
      <div class="card">
        <div class="card-body" style="overflow-y: scroll;">
          <h1 class="card-title">Personnel - <%= personnel.length %>

          <button class="btn border-secondary-subtle" data-bs-toggle="modal" data-bs-target="#personnelModal">ADD +</button>
        
        
        <!-- Modal -->
        <div class="modal fade" id="personnelModal" tabindex="-1" aria-labelledby="personnelModalLabel" aria-hidden="true">
          <div class="modal-dialog">

          <form  id="personForm" action="/projects" method = "POST">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="personnelModalLabel">Add Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <label for="fName">First name:</label>
                <input type="text" id="fName" name="fName"><br><br>
                <label for="lName">Last name:</label>
                <input type="text" id="lName" name="lName"><br><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <button type="submit" class="btn btn-primary" >Submit</button>
              </div>
            </div>
          </form>

          </div>
        </div>

</h1>
          <hr><h5 class="card-title">Assigned</h5>
          <div class="card-body bg-secondary-subtle" id="cont" ondrop="drop(event)" ondragover="allowDrop(event)">

          <% personnel.forEach(function(person) { if (person.projects) { 
            let assignments = [];
            person.projects.forEach(function(assignment) {
              let projectName = projects.find(project=> project._id === assignment.id).name
              assignments.push(projectName)
            }) %>
            <button id="<%= person._id %>-button" draggable="True" type="button" style="width: 100%; text-align: left"
              class="btn bg-light border-secondary-subtle noDrop" 
              data-bs-html="true"
              data-bs-toggle="popover"
              title= "<b><%=person.firstName%> <%=person.lastName%> is assigned to:</b>" 
              data-bs-placement="left"  
              data-bs-content="<ul>
                <% assignments.forEach(function(item) { %>
                  <li><%= item %></li>
                <% }) %>
                </ul>" 
              ondragstart="drag(event)">
              
              <strong><%= person.firstName+' '+person.lastName %></strong>
                  <% 
                    // count how many projects each person has and determine their color
                    let total = utils.countProjects(person)
                    
                    let color = utils.getColor(total)
                  %>
                  <span class="badge bg-<%=color%>" style="float: right;">
                    <%= total %>
                  </span></button>
            <% }}); %>

          </div>
            <hr><h5 class="card-title">Unassigned</h5>
            <div class="card-body bg-secondary-subtle" ondrop="drop(event)" ondragover="allowDrop(event)" id="peopleList">
            <% personnel.forEach(function(person) { if (!person.projects){ %>
              <button id="<%= person._id %>-button" draggable="True" style="width: 100%; text-align: left;"
                class="btn bg-light border-secondary-subtle noDrop"
                data-bs-toggle="popover"  
                title= "Info for <%=person.firstName%> <%=person.lastName%>" 
                data-bs-placement="left"  
                data-bs-content="No projects assigned."
                ondragstart="drag(event)">
                <strong>
                  <%= person.firstName+' '+person.lastName %>
                </strong>
                <span class="badge bg-primary" style="float: right;">
                      0
                </span>
              </button>
              <% }}); %>
              
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

