
  <div class="card col-9">
    <div class="card-body">
    <h1 class="card-title">PROJECTS - <%= projects.length %> <button class="btn border-secondary-subtle float-end" data-bs-toggle="modal" data-bs-target="#projectsModal">ADD +</button></h1>
    
    <% projects.forEach(function(project) { %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            <%= project.name %>
          </h4>
          <p>
            <%= project.description %>
          </p>
          <div class="row">
          <div class="col-sm-auto">
            <div class="card-title">Lead:</div>
            <div class="card-body bg-secondary-subtle" ondrop="drop(event)" ondragover="allowDrop(event)">
              <%
                let empty = true;
                project.members.forEach(function(member) {
                  let person=personnel.find(person=> person._id === member.id)
                  if (person.projects) {
                    if (person.projects.find(assignment=> assignment.id === project._id).role == 'Lead' ) {empty = false %>
                      <button id="<%= person._id %>-button" draggable="True" class="btn bg-light border-secondary-subtle noDrop" ondragstart="drag(event)">
                        <strong><%= person.firstName+' '+person.lastName %></strong>
                        <% 
                        // count how many projects each person has and determine their color
                        let total = utils.countProjects(person)
                        
                        let color = utils.getColor(total)
                      %>
                        <span class="badge bg-<%=color%>">
                          <%= total %>
                        </span>
                      </button>
                  <%  } 
                 }
                });
                if (empty) { %>
                  <button class="btn bg-light noDrop">ADD LEAD +</button>
              <% } %>
            </div>
          </div>
          <div class="col-sm-auto">
            <div class="card-title">Members:</div>
            <div class="card-body bg-secondary-subtle" ondrop="drop(event)" ondragover="allowDrop(event)">
              <%
                empty = true;
                project.members.forEach(function(member) {
                  let person=personnel.find(person=> person._id === member.id)
                  if (person.projects) {
                    if (person.projects.find(assignment=> assignment.id === project._id).role != 'Lead') { empty = false %>
                      <button id="<%= person._id %>-button" draggable="True" class="btn bg-light border-secondary-subtle noDrop" ondragstart="drag(event)">
                        <strong><%= person.firstName+' '+person.lastName %></strong>
                <% 
                  // count how many projects each person has and determine their color
                  let total = utils.countProjects(person)
                  
                  let color = utils.getColor(total)
                %>
                        <span class="badge bg-<%=color%>">
                          <%= total %>
                        </span>
                      </button>
                      <%  } 
                    }
                   })
                   %>
                     <button class="btn bg-light noDrop" data-bs-toggle="modal" data-bs-target="#p2Modal-<%=project._id%>">+</button>

                    <div class="modal fade" id="p2Modal-<%=project._id%>" tabindex="-1" aria-labelledby="p2ModalLabel-<%=project._id%>" aria-hidden="true">
                      <div class="modal-dialog">

                      <form action="/projects" method="POST">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="p2ModalLabel-<%=project._id%>">Add Person to <%=project.name%></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>                          
                          <div class="modal-body">                           
                                 
                            
                            <% personnel.forEach(function(person) { if (person.projects) {%>
                              
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="<%=person._id%>" id="<%=person._id%>">
                              <label class="form-check-label" style="width: 100%; text-align: left; position: relative; z-index: 1000" for="<%=person._id%>">
                                <%= person.firstName+' '+person.lastName %>
                                <% 
                                // count how many projects each person has and determine their color
                                let total = utils.countProjects(person)
                                
                                let color = utils.getColor(total)
                              %>
                              <span class="badge bg-<%=color%>" style="float: right;">
                                <%= total %>
                              </span>
                              </label>      
                            </div>
                          <%}
                          else{ %>
                            <div class="form-check">
                              <input name="checkPerson" class="form-check-input" type="checkbox" value="" id="<%=person._id%>">
                              <label class="form-check-label" style="width: 100%; text-align: left; position: relative; z-index: 1000" for="<%=person._id%>">
                                <%= person.firstName+' '+person.lastName %>
                              <span class="badge bg-primary" style="float: right;">
                                    0
                                  </span>
                              </label>      
                            </div>
                            
                            }})%>                         

                          
                            
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button name="addPersonnelToProject" type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div>
                      </form>

                      </div>
                    </div>
                     


            </div>
          </div>
        </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  